<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jq.mapper.CaseManageMapper">
	<!--
		说明:
		1.namespace是映射文件的唯一标识 不允许重复
		2.在配置时应该和mybatis的客户端(Mapper接口文件)路径保持一致
		3.映射文件中的Id,应该和接口方法名称一一对应
	 -->
<insert id="insertMainCase" parameterType="webCase" useGeneratedKeys="true" keyProperty="snId" keyColumn = "sn_id">
insert into web_case (sn_id,main_case_photo,height,width,project_name,project_area,end_date, 
                     project_address,design_style,main_material,design_company,designer,
                     assist_disigner,photographer,sales,created,updated) values (
                     null,#{mainCasePhoto}, #{height}, #{width}, #{projectName}, #{projectArea}, #{endDate}, #{projectAddress},
                      #{designStyle}, #{mainMaterial}, #{designCompany}, #{designer}, #{assistDisigner}, #{photographer},
                      #{sales},now(),now())
</insert>	

<insert id="insertSubCase" parameterType="webSubCase">
 insert into web_sub_case(main_case_id,sub_case_info,created,updated) values (#{mainCaseId}, #{subCaseInfo},now(),now())
</insert>	

<select id="selectAllCase" resultType= "webCase">
select * from web_case
</select>

<select id= "selectCaseCount" resultType="Integer">
select count(*) from web_case

</select>

<select id="findCaseByPage" resultType= "webCase">
select * from web_case limit #{begin},#{pageSize}
</select>

</mapper>