<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jq.mapper.TopicMapper">
	<!--
		说明:
		1.namespace是映射文件的唯一标识 不允许重复
		2.在配置时应该和mybatis的客户端(Mapper接口文件)路径保持一致
		3.映射文件中的Id,应该和接口方法名称一一对应
	 -->
	
	
<select id="selectAll" resultType="webTopic">
select * from web_topic
</select>

<select id="selectOneByPK"  resultType="webTopic">
select * from web_topic where sn_id = #{topicId}
</select>

<select id="selectTopicDetatilByTopicId"  resultType="webTopicDetail">
select * from web_topic_detail where topic_id = #{topicId}
</select>

<select id="selectTopicById" resultType="webTopic">
select * from web_topic where sn_id = #{topicId}
</select>

</mapper>