<!DOCTYPE html>  
<html>  
<head lang="en">  
    <meta charset="UTF-8">  
    <title>纪青空间设计</title>  
<script src="ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    window.onload = function()
    {
        CKEDITOR.replace( 'description');
    };
</script>   
</head>
<body>
    <form method="post" action="job/add">
        招聘岗位：<input type="text" name="position" id="position"/><br/>
        招聘人数：<input type="text" name="quantity" id="quantity"/><br/>
        学历要求：<input type="text" name="education" id="education"/><br/>
        薪资：<input type="text" name="salary" id="salary"/><br/>
        联系人：<input type="text" name="contact" id="contact"/><br/>
        联系电话：<input type="text" name="telephone" id="telephone"/><br/>
        描述：<br/>
        <textarea name="description" id="description"/></textarea>
        <input type="submit"/>
    </form>
</body>
</html>