<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>纪青空间设计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <div id="fh5co-page">
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
        <aside id="fh5co-aside" role="complementary" class="border js-fullheight">
            <img src="images/logom.png" class="logoimg" />
            <div style="border-right: 2px solid #999999;padding-top: 50px;padding-bottom: 50px;">
                <nav id="fh5co-main-menu" role="navigation">
                    <ul>
                        <li><a href="index">首页/HOME</a></li>
                        <li><a href="service">服务/SERVICE</a></li>
                        <li><a href="work">案例/WORK</a></li>
                        <li><a href="topic">话题/TOPIC</a></li>
                        <li class="fh5co-active"><a href="recuit">招募/RECRUIT</a></li>
                        <li><a href="contact">联系/CONTACT</a></li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div id="fh5co-main">
            <div class="fh5co-narrow-content">
                <!-- row-bottom-padded-md-->
                <div class="row row-bottom-padded-md">
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                        <div class="js-fullheight font-center">
                            <div class="outer-container">
                                <div class="inner-container">
                                    <p>我们的理念</p>

                                    <p>三观正直，工作纯粹。我们希望用自由的工作氛围激发团队的创新力，寻找热爱设计，热爱生活的你。</p>
                                    <br />

                                    <p>优秀室内外空间设计师</p>
                                    <p>岗位职责：</p>
                                    <p>1、能够根据客户需求、独立完成方案设计及施工图设计，要对空间理解能力强；</p>
                                    <p>2、能够完成工地施工对接，材料对接，软装采购对接等工作；</p>
                                    <p>3、对设计项目提出独特的创新建议；</p>
                                    <p>4、吃苦耐劳、团结进取、执行效率高有独立见解，与客户和领导能顺畅有效沟通</p>
                                    <p>5、愿意努力学习，不断进步，扩展个人能力及思维；</p>
                                    <p>6、个人优秀而不满足以上条件者，可进行专业培训。</p>
                                    <p>任职资格：</p>
                                    <p>1、艺术设计，环境艺术，室内设计等艺术类相关专业本科及以上学历；</p>
                                    <p>2、1年以上相关工作经验；</p>
                                    <p>3、有大型工装项目参与者优先，设计作品得奖应届生优先，学习过景观园林设计知识及VI设计知识者优先；</p>
                                    <p>4、有较强的审美搭配能力，能熟练操作AutoCAD、Photoshop、Sketchup、luminous、办公自动化等软件；</p>
                                    <p>5、学习能力强、热爱设计工作、善于沟通，有创新精神；</p>
                                    <p>6、始于才华，忠于人品，认真负责，诚实守信。 </p>
                                    <br />

                                    <p>空间设计师助理</p>
                                    <p>岗位职责：</p>
                                    <p>1、协助设计师完成前期设计方案，草图模型，等工作；</p>
                                    <p>2、协助设计师完成工地对接，材料对接，等工作；</p>
                                    <p>3、愿意努力学习，不断进步，扩展个人能力及思维；</p>
                                    <p>5、个人优秀而不满足以上条件者，可进行专业培训。</p>
                                    <p>任职资格：</p>
                                    <p>1、环境艺术、艺术设计、等相关专业；</p>
                                    <p>2、有较强的审美搭配能力，能熟练操作AutoCAD、Photoshop、Sketchup等软件；</p>
                                    <p>3、学习能力强、热爱设计工作、善于沟通，有创新精神；</p>
                                    <p>4、始于才华，忠于人品，认真负责，诚实守信。 </p>
                                    <br />
                                    <p>软装设计师</p>
                                    <p>任职要求：</p>
                                    <p>· 艺术设计，环境艺术，室内设计等艺术类相关专业（美院优先）</p>
                                    <p>· 年以上相关工作经验</p>
                                    <p>· 熟练操作office、CAD、PS等设计办公软件</p>
                                    <p>· 勤奋踏实，有良好的职业道德、较强的责任心和敬业精神</p>
                                    <p>· 热爱设计，协助设计师共同完成项目</p>
                                    <p>· 有个人特长优先． </p>
                                    <br />

                                    <p>平面推广</p>
                                    <p>岗位职责：</p>
                                    <p>1、参与重要项目的创意构思、设计创意说明及后期结案项目发布；</p>
                                    <p>2、稿件思路清晰，能够完成稿件写作思路规划；</p>
                                    <p>3、可以处理简单的图片编辑。</p>
                                    <p>任职资格：</p>
                                    <p>1、新闻学、传播学、中文、经济管理类相关专业；</p>
                                    <p>2、有一定审美，热爱艺术创作；</p>
                                    <p>3、认真负责，诚实守信，敢于突破，积极学习（可进行设计相关工作培训）。 </p>
                                    <p>岗位职责：</p>
                                    <p>1、参与重要项目的创意构思、设计创意说明及后期结案项目发布；</p>
                                    <p>2、稿件思路清晰，能够完成稿件写作思路规划；</p>
                                    <p>3、可以处理简单的图片编辑。</p>
                                    <p>任职资格：</p>
                                    <p>1、新闻学、传播学、中文、经济管理类相关专业；</p>
                                    <p>2、有一定审美，热爱艺术创作；</p>
                                    <p>3、认真负责，诚实守信，敢于突破，积极学习（可进行设计相关工作培训）。 </p>

                                    <br />
                                    <p>应聘方式</p>
                                    <p>（1）《个人简历》</p>
                                    <p>（2）《作品集》（只阅PDF文件）</p>
                                    <p>发送至：1142616955@qq.com</p>

                                    <p>注：</p>
                                    <p>（1）作品集（只阅PDF文件），反应真实能力的设计案例，施工图纸等，如是团队合作项目，请写明负责参与的部分及工作内容。</p>
                                    <p>（2）邮件标题请具体写明“应聘职位”及“基本工资要求”。</p>
                                    <br />


                                    <p>联系我们</p>

                                    <p>邮箱：1142616955@qq.com</p>
                                    <p>微信公众号：纪青空间设计</p>
                                    <p>地址：安徽省合肥市滨湖新区利港银河广场D栋1703室</p>
                                    <p>联系人：纪总监</p>
                                    <p>T:0551-64651121</p>
                                    <p>M:17333269573</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                        <aside id="fh5co-hero" class="js-fullheight">
                            <div class="flexslider js-fullheight">
                                <ul class="slides">
                                    <li style="background-image: url(images/recuit.jpg);">
                                        <div class="overlay"></div>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div
                                                    class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                                                    <div class="slider-text-inner">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="js/jquery.flexslider-min.js"></script>

    <!-- MAIN JS -->
    <script src="js/main.js"></script>

</body>

</html>