<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>纪青空间设计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <div id="fh5co-page">
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
        <aside id="fh5co-aside" role="complementary" class="border js-fullheight">
            <img src="images/logom.jpg" class="logoimg" />
            <nav id="fh5co-main-menu" role="navigation">
                <ul>
                    <li><a href="index">首页/HOME</a></li>
                    <li><a href="service">服务/SERVICE</a></li>
                    <li><a href="work">案例/WORK</a></li>
                    <li><a href="topic">话题/TOPIC</a></li>
                    <li class="fh5co-active"><a href="recuit">招募/RECRUIT</a></li>
                    <li><a href="contact">联系/CONTACT</a></li>
                </ul>
            </nav>
        </aside>

        <div id="fh5co-main">
            <div class="fh5co-narrow-content">
                <!-- row-bottom-padded-md-->
                <div class="row row-bottom-padded-md">
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                        <div class="js-fullheight font-center">
                            <div class="outer-container">
                                <div class="inner-container">
                                    <p>公司介绍</p>
                                    <p>纪青空间设计是安徽为数不多的纯设计公司，专业商业空间设计公司，专注于酒店、餐饮、文娱、办公等室内外空间设计。<br />
                                        室内装潢设计</p>
                                    <p>职位描述</p>
                                    <p>1、熟练运用CAD ，草图大师，lumion、Photoshop等设计相关软件。</p>
                                    <p>2、协助设计师完成前期设计方案，平面方案，PPT ，草图模型等。</p>
                                    <p>3、对材料，施工工艺有基础了解，有一定设计审美。</p>
                                    <p>4、学历本科及以上。</p>
                                    <p>5、有大型工装项目参与者优先，设计作品得奖应届生优先。</p>
                                    <p>6、热爱设计，认真负责，善于沟通，愿意努力学习。</p>

                                    <p>平面广告设计助理/实习</p>
                                    <p>职位描述</p>
                                    <p>1、负责线上推广的文案编辑；</p>
                                    <p>2、负责项目前期策划及文案的架构与调整；</p>
                                    <p>3、负责日常节日单图及简单视频制作；</p>
                                    <p>职位要求：会使用PS、cdr等图形处理软件。能够独立完成图片素材加工、简单视频音频剪辑。写作能力好。<br />
                                        （可入职培训）</p>

                                    <p>文案策划专员</p>
                                    <p>职位描述</p>
                                    <p>工作内容：</p>
                                    <p>1、负责线上推广的文案编辑；</p>
                                    <p>2、负责项目前期策划及文案的架构与调整；</p>
                                    <p>3、负责日常节日单图及视频的创意与制作；</p>
                                    <p>职位要求：熟练使用PS、PR、AE等软件。能够独立完成图片素材加工、视频音频剪辑。写作能力好</p>
                                    <p>工作时间：夏季9:00-17:30；冬季9:30-17:30</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
							<aside id="fh5co-hero" class="js-fullheight">
								<div class="flexslider js-fullheight">
									<ul class="slides">
										<li style="background-image: url(images/recuit.jpg);">
											<div class="overlay"></div>
											<div class="container-fluid">
												<div class="row">
													<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
														<div class="slider-text-inner">
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</aside>
						</div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="js/jquery.flexslider-min.js"></script>

    <!-- MAIN JS -->
    <script src="js/main.js"></script>

</body>

</html>