<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>纪青空间设计</title>
    <style type="text/css">
        .body {
            width: 800px;
            margin: 0 auto; 
        }
    </style>
</head>
<body>
    <div class="body">
    <div style="text-align:left" th:text="${topicInfomation.webTopic.title}"></div>
    <p><font color="#c24f4a" th:text="${topicInfomation.webTopic.author}"/>&nbsp;&nbsp;
    <font color="#4d80bf" th:text="${topicInfomation.webTopic.title}"/>&nbsp;&nbsp;&nbsp;
    <font color="#c24f4a" th:text="${topicInfomation.webTopic.workDate}"/></font>
    </p>
<div><br/></div>
<div><br/></div>

         
        <div th:utext="${topicInfomation.webTopicDetail.topicDesc}">
        </div>
    </div>
</body>

</html>