<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>纪青空间设计</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: 0 auto;
            font-family: "Microsoft Yahei";
        }

        .mtitle {
            width: 400px;
            height: 25px;
        }
        .mtitle span {
            font-size:15px;
        }
    </style>
</head>

<body>
    <div>
        <table border="0">
            <tr>
                <td class="mtitle">
                    <span th:text="'项目名称|&nbsp;&nbsp;' + ${mainCaseDetail.webCase.projectName}" />
                </td>
                <td class="mtitle">
                   <span th:text="'项目面积|&nbsp;&nbsp;' + ${mainCaseDetail.webCase.projectArea} +'&nbsp;㎡'" />
                </td>
            </tr>
            <tr>
                <td class="mtitle">
                     <span th:text="'完工时间|&nbsp;&nbsp;' + ${mainCaseDetail.webCase.workEndDateStr}" />
                </td>
                <td class="mtitle">
                    <span th:text="'项目地址|&nbsp;&nbsp;' + ${mainCaseDetail.webCase.projectAddress}" />
                </td>
            </tr>
            <tr>
                <td class="mtitle">
                    <span th:text="'设计风格|&nbsp;&nbsp;' + ${mainCaseDetail.webCase.designStyle}" />
                </td>
                <td class="mtitle">
                    <span th:text="'主要材料|&nbsp;&nbsp;' + ${mainCaseDetail.webCase.mainMaterial}" />
                </td>
            </tr>
            <tr>
                <td class="mtitle">
                     <span th:text="'设计单位|&nbsp;&nbsp;' + ${mainCaseDetail.webCase.designCompany}" />
                </td>
                <td class="mtitle">
                    <span th:text="'设  计  师|&nbsp;&nbsp;' + ${mainCaseDetail.webCase.designer}" /> 
                </td>
            </tr>
            <tr>
                <td class="mtitle">
                    <span th:text="'辅助设计|&nbsp;&nbsp;' + ${mainCaseDetail.webCase.assistDisigner}" />
                </td>
                <td class="mtitle">
                    <span th:text="'摄  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;影| ' + ${mainCaseDetail.webCase.photographer}" />
                </td>
            </tr>
            <tr>
                <td class="mtitle">
                   <span th:text="'营销顾问|&nbsp;&nbsp;' + ${mainCaseDetail.webCase.sales}" /> </phelvetica>
                </td>
                
            </tr>
        </table>
        <br/>

        <div th:utext="${mainCaseDetail.webCase.sales}">
        </div>
    </div>
</body>

</html>