<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>纪青空间设计</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="../css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="../css/flexslider.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Modernizr JS -->
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <script src="../ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            CKEDITOR.replace('description');
        };
    </script>
</head>

<body>
    <div id="fh5co-page">
        <aside id="fh5co-aside" role="complementary" class="border js-fullheight">
            <nav id="fh5co-main-menu" role="navigation">
                <ul>
                    <li class="fh5co-active"><a href="addnews">新闻增加</a></li>
                    <li><a href="managnews">新闻管理</a></li>
                    <li ><a href="addwork">案例新增</a></li>
                </ul>
            </nav>
        </aside>
    </div>
    <div id="fh5co-main">
        <div class="fh5co-narrow-content">
            <form method="post" action="job/add">
                招聘岗位：<input type="text" name="position" id="position" /><br />
                招聘人数：<input type="text" name="quantity" id="quantity" /><br />
                学历要求：<input type="text" name="education" id="education" /><br />
                薪资：<input type="text" name="salary" id="salary" /><br />
                联系人：<input type="text" name="contact" id="contact" /><br />
                联系电话：<input type="text" name="telephone" id="telephone" /><br />
                描述：<br />
                <textarea name="description" id="description" /></textarea>
                <input type="submit" />
            </form>
        </div>

    </div>
</body>

</html>