<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>纪青空间设计</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="https://cdn.staticfile.org/fastclick/1.0.6/fastclick.min.js"></script>
    <script src="https://cdn.staticfile.org/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
    <script src="https://cdn.staticfile.org/layer/2.3/layer.js"></script>
    <script src="https://cdn.staticfile.org/codemirror/5.38.0/codemirror.min.js"></script>
    <script src="https://cdn.staticfile.org/codemirror/5.38.0/addon/display/placeholder.min.js"></script>
    <script src="https://cdn.staticfile.org/codemirror/5.38.0/mode/clike/clike.min.js"></script>
    <script src="https://cdn.staticfile.org/codemirror/5.38.0/mode/sql/sql.min.js"></script>
    <script src="https://cdn.staticfile.org/codemirror/5.38.0/mode/xml/xml.min.js"></script>
    <!--富文本编辑器wangEditor-->
    <script src="https://cdn.staticfile.org/wangEditor/10.0.13/wangEditor.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <style>
        fieldset {
            background-color: #f1f1f1;
            border: none;
            border-radius: 2px;
            margin-bottom: 12px;
            overflow: hidden;
            padding: 0 .625em;
        }

        label {
            cursor: pointer;
            display: inline-block;
            padding: 3px 6px;
            text-align: right;
            width: 150px;
            vertical-align: top;
        }

        .formItem {
            display: inline;
            padding: 20px 0;
        }

        input {
            font-size: inherit;
            width: 20rem;
            height: 2rem;
            margin: 0 0 10px 10px;
        }

        .container {
            width: 200px;
            height: 20px;
            background-color: gray;
        }

        #progress {
            height: 20px;
            background-color: orange;
            display: inline-block;
        }
    </style>
    <form th:action="@{/manage/addCase}" method="post">
        <fieldset>
            <div class="form-inline form-group">
                <div class="formItem">
                    <label>项目名称:</label>
                    <input name="projectName" type="text" align="left">
                </div>
                <div class="formItem">
                    <label>项目面积:</label>
                    <input name="projectArea" type="text" align="left">
                </div>
            </div>
            <div class="form-inline form-group">
                <div class="formItem">
                    <label>项目结束时间:</label>
                    <input name="endDate" type="date" align="left">
                </div>

                <div class="formItem">
                    <label>项目地址:</label>
                    <input name="projectAddress" type="text" align="left">
                </div>

            </div>
            <div class="form-inline form-group">
                <div class="formItem">
                    <label>设计风格:</label>
                    <input name="designStyle" type="text" align="left">
                </div>
                <div class="formItem">
                    <label>主要材料:</label>
                    <input name="mainMaterial" type="text" align="left">
                </div>

            </div>
            <div class="form-inline form-group">
                <div class="formItem">
                    <label>设计单位:</label>
                    <input name="designCompany" type="text" align="left">
                </div>
                <div class="formItem">
                    <label>设计师:</label>
                    <input name="designer" type="text" align="left">
                </div>

            </div>
            <div class="form-inline form-group">
                <div class="formItem">
                    <label>辅助设计师:</label>
                    <input name="assistDisigner" type="text" align="left">
                </div>
                <div class="formItem">
                    <label>摄影师:</label>
                    <input name="photographer" type="text" align="left">
                </div>

            </div>

            <div class="form-inline form-group">
                <div class="formItem">
                    <label>营销顾问:</label>
                    <input name="sales" type="text" align="left">
                </div>
                <div class="formItem">
                    <label>入口图片:</label>
                    <input type="file" name="file" onchange="changepic(this)" id="file" class="inputfile"
                        accept="image/jpg,image/jpeg,image/png,image/PNG" />
                </div>

            </div>
            <div class="formItem">
                <div class='container'>
                    <span id="progress"></span>
                </div>
                <img src="" id="show" width="200">
            </div>
            <input id="desc" name="desc" type="hidden" />
            <input id="mainCasePhoto" name="mainCasePhoto" type="hidden">
            <input id="height" name="height" type="hidden" />
            <input id="width" name="width" type="hidden" />

            <div style="padding: 5px 0; color: #ccc">案例详情</div>
            <div id="div2" class="text">
            </div>

            <a href="manage/addCase" target="_self">
                <h1><button>提交</button></h1>
            </a>
        </fieldset>
    </form>

    <script type="text/javascript">
        //图片预览
        function changepic() {

            var reads = new FileReader();
            f = document.getElementById('file').files[0];
            reads.readAsDataURL(f);
            reads.onload = function (e) {
                document.getElementById('show').src = this.result;
            };

            var fd = new FormData();
            fd.append("file", document.getElementById('file').files[0]);
            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", uploadProgress, false);
            xhr.addEventListener("load", uploadComplete, false);
            xhr.addEventListener("error", uploadFailed, false);
            xhr.addEventListener("abort", uploadCanceled, false);
            xhr.open("POST", "/manage/upload1"); //修改成自己的接口
            xhr.send(fd);
        }

        function uploadProgress(evt) {
            if (evt.lengthComputable) {
                var percent = Math.round(evt.loaded * 100 / evt.total);
                document.getElementById('progress').innerHTML = percent.toFixed(2) + '%';
                document.getElementById('progress').style.width = percent.toFixed(2) + '%';
            } else {
                document.getElementById('progress').innerHTML = 'unable to compute';
            }
        }

        function uploadComplete(evt) {
            var res = $.parseJSON(evt.target.responseText);
            /* 服务器端返回响应时候触发event事件*/
            if (res.error == "0") {
                var data = res.data;
                var mainCasePhoto = document.getElementById('mainCasePhoto')
                mainCasePhoto.value = data[0].url;

                var height = document.getElementById('height')
                height.value = data[0].height;

                var width = document.getElementById('width')
                width.value = data[0].width;
            }


        }

        function uploadFailed(evt) {
            alert("There was an error attempting to upload the file.");
        }

        function uploadCanceled(evt) {
            alert("The upload has been canceled by the user or the browser dropped the connection.");
        }

        var E = window.wangEditor
        var editor2 = new E('#div2')
        // 配置服务器端地址
        editor2.customConfig.uploadImgServer = '/manage/upload'
        //配置指定文件名
        editor2.customConfig.uploadFileName = 'file'
        //传一个目录名称过去,作为图片服务器上的子目录
        editor2.customConfig.uploadImgParams = {
            dir: 'news'
        }
        editor2.customConfig.uploadImgMaxLength = 5
        editor2.customConfig.uploadImgMaxSize = 10 * 1024 * 1024
        editor2.customConfig.onchange = function (html) {
            var desc = document.getElementById('desc')
            desc.value = html
        }
        // 用监控函数来监控
        editor2.customConfig.uploadImgHooks = {

            customInsert: function (insertImg, result, editor2) {
                // 图片上传并返回结果，图片插入成功之后触发
                // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
                var error = result.error;
                var photo = result.data;
                if (error == 1) {
                    alert('图片上传错误!!');
                } else {
                    alert('照片上传成功:' + photo);
                    for (var i in photo) {
                        alert('照片上传成功了哟 :' + photo[i].url);

                        insertImg(photo[i].url)
                    }
                }
            }

        }
        editor2.create()
    </script>
</body>


</html>