<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>纪青空间设计</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="../css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="../css/flexslider.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- jQuery -->
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="https://cdn.staticfile.org/fastclick/1.0.6/fastclick.min.js"></script>
    <script src="https://cdn.staticfile.org/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
    <script src="https://cdn.staticfile.org/layer/2.3/layer.js"></script>
    <script src="https://cdn.staticfile.org/codemirror/5.38.0/codemirror.min.js"></script>
    <script src="https://cdn.staticfile.org/codemirror/5.38.0/addon/display/placeholder.min.js"></script>
    <script src="https://cdn.staticfile.org/codemirror/5.38.0/mode/clike/clike.min.js"></script>
    <script src="https://cdn.staticfile.org/codemirror/5.38.0/mode/sql/sql.min.js"></script>
    <script src="https://cdn.staticfile.org/codemirror/5.38.0/mode/xml/xml.min.js"></script>
    <!--富文本编辑器wangEditor-->
    <script src="https://cdn.staticfile.org/wangEditor/10.0.13/wangEditor.min.js"></script>
</head>

<body>
    <div id="fh5co-page">
        <aside id="fh5co-aside" role="complementary" class="border js-fullheight">
            <nav id="fh5co-main-menu" role="navigation">
                <ul>
                    <li><a href="manage">管理页面</a></li>
                    <li><a href="addnews">新闻增加</a></li>
                    <li class="fh5co-active"><a href="addwork">案例新增</a></li>
                </ul>
            </nav>
        </aside>
    </div>
    <div id="fh5co-main">
        <div class="fh5co-narrow-content">
            <div id="editor">
                <p>欢迎使用富文本编辑器</p>
            </div>

            <p><button class="btn btn-primary btn-lg" id="btnGenCode" role="button">保存 »</button></p>
        </div>
    </div>
</body>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    // 或者 var editor = new E( document.getElementById('editor') )
    // 配置服务器端地址
    editor.customConfig.uploadImgServer = 'http://localhost:8888/xxxx/upload/editor'
    //配置指定文件名
    editor.customConfig.uploadFileName = 'file'
    //如果图片不大，可以用base64存储
    //editor.customConfig.uploadImgShowBase64 = true
    // 将图片大小限制为 3M
    editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024
    editor.create()
</script>

</html>