<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>纪青空间设计</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="../css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="../css/flexslider.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Modernizr JS -->
    <script src="../js/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <div id="fh5co-page">
        <aside id="fh5co-aside" role="complementary" class="border js-fullheight">
            <nav id="fh5co-main-menu" role="navigation">
                <ul>
                    <li class="fh5co-active"><a href="manage">管理页面</a></li>

                </ul>
            </nav>
        </aside>
    </div>
    <div id="fh5co-main">
        <div class="fh5co-narrow-content">
            <button class="btn" onclick="addtopic()">话题新增</button>
            <button class="btn" onclick="addwork()">案例新增</button>
            <div class="row-bottom-padded-md col-md-12">
                <div th:each="item:${works}" class="col-md-3 col-sm-6 col-padding text-center">
                    <div>
                        <a class="work image-popup" th:style="${item.imgurl}">
                        </a>
                        <button class="btn" th:onclick="'javascript : deleteWork(\'' + ${ item.snId } + '\')'">
                            删除</button>
                    </div>

                </div>
            </div>
            <br />
            <h3 />
            <h3>话题列表：</h3>
            <div th:each="item:${topics}" class="col-md-6 col-sm-6  text-center ">
                <a class="topic_item col-md-6" th:text="${item.title}" />
                <button class="btn" th:onclick="'javascript : deleteTopic(\'' + ${ item.snId } + '\')'"> 删除</button>
            </div>
        </div>

    </div>
    </div>
    <!-- jQuery -->
    <script src="../js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="../js/jquery.easing.1.3.js"></script>
    <script>
        function addtopic() {
            $(location).attr('href', '/manage/addtopic');
        };

        function addwork() {
            $(location).attr('href', '/manage/addwork');
        };

        function deleteWork(id) {
            var url = '/manage/deleteCaseById';
            var data = {
                "snId": id,
            };
            $.post(url, data).done(function (res) {
                if (res.returnCode == "0") {
                    alert("删除成功")
                    $(location).attr('href', '/manage/manage');
                } else {
                    alert(res.returnCode + " " + res.returnMsg)
                }
            })
        }

        function deleteTopic(id) {
            var url = '/manage/deleteTopicById';
            var data = {
                "snId": id,
            };
            $.post(url, data).done(function (res) {
                if (res.returnCode == "0") {
                    alert("删除成功")
                    $(location).attr('href', '/manage/manage');
                } else {
                    alert(res.returnCode + " " + res.returnMsg)
                }
            })
        }
    </script>
</body>

</html>