<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>纪青空间设计</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="../css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="../css/flexslider.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Modernizr JS -->
    <script src="../js/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <div id="fh5co-page">
        <aside id="fh5co-aside" role="complementary" class="border js-fullheight">
            <nav id="fh5co-main-menu" role="navigation">
                <ul>
                    <li><a href="addnews">新闻增加</a></li>
                    <li class="fh5co-active"><a href="managnews">新闻管理</a></li>
                </ul>
            </nav>
        </aside>
    </div>
    <div id="fh5co-main">
        <div class="fh5co-narrow-content">
            新闻管理
        </div>
    </div>
</body>

</html>